In [4]:
%load_ext autoreload
%autoreload 2

# Feature Pipeline: Computing features

In [5]:
import os
import sys

repo_path = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(repo_path)

import torch
import warnings
import polars as pl

from pprint import pprint
from loguru import logger
from sentence_transformers import SentenceTransformer

# Config
from recsys.config import settings

# Feature Store
# from recsys import gcp_integrations
# from recsys.gcp_integrations import feature_store

# Features
from recsys.features.articles import (
    compute_features_articles,
    generate_embeddings_for_dataframe,
)
from recsys.features.customers import DatasetSampler, compute_features_customers
from recsys.features.interaction import generate_interaction_data
from recsys.features.transactions import compute_features_transactions

# Raw Data
from recsys.raw_data_sources import h_and_m_raw_data

warnings.filterwarnings("ignore")

/opt/homebrew/Caskroom/miniconda/base/envs/mlops/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# 🗄️ Articles data

The **article_id** and **product_code** serve different purposes in the context of H&M's product database:

- **Article ID**: This is a unique identifier assigned to each individual article within the database. It is typically used for internal tracking and management purposes. Each distinct item or variant of a product (e.g., different sizes or colors) would have its own unique article_id.

- **Product Code**: This is also a unique identifier, but it is associated with a specific product or style rather than individual articles. It represents a broader category or type of product within H&M's inventory. Multiple articles may share the same product code if they belong to the same product line or style.

While both are unique identifiers, the article_id is specific to individual items, whereas the product_code represents a broader category or style of product.

Here is an example:

**Product: Basic T-Shirt**

- **Product Code:** TS001

- **Article IDs:**
    - Article ID: 1001 (Size: Small, Color: White)
    - Article ID: 1002 (Size: Medium, Color: White)
    - Article ID: 1003 (Size: Large, Color: White)
    - Article ID: 1004 (Size: Small, Color: Black)
    - Article ID: 1005 (Size: Medium, Color: Black)

In this example, "TS001" is the product code for the basic t-shirt style. Each variant of this t-shirt (e.g., different sizes and colors) has its own unique article_id.

In [6]:
articles_df = h_and_m_raw_data.extract_articles_df()
articles_df.shape

(105542, 25)

In [7]:
articles_df.head(3)

shape: (3, 25)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ article_i ┆ product_c ┆ prod_name ┆ product_t ┆ … ┆ section_n ┆ garment_g ┆ garment_g ┆ detail_d │
│ d         ┆ ode       ┆ ---       ┆ ype_no    ┆   ┆ ame       ┆ roup_no   ┆ roup_name ┆ esc      │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ i64       ┆ i64       ┆           ┆ i64       ┆   ┆ str       ┆ i64       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 108775015 ┆ 108775    ┆ Strap top ┆ 253       ┆ … ┆ Womens    ┆ 1002      ┆ Jersey    ┆ Jersey   │
│           ┆           ┆           ┆           ┆   ┆ Everyday  ┆           ┆ Basic     ┆ top with │
│           ┆           ┆           ┆           ┆   ┆ Basics    ┆           ┆           ┆ narrow   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ shoulde… │
│ 108775044 ┆ 108775    ┆ Strap top ┆ 253       ┆ … ┆ Womens    ┆ 1002      ┆ Jersey    ┆ Jersey   │
│           ┆           ┆           ┆           ┆   ┆ Everyday  ┆           ┆ Basic     ┆ top with │
│           ┆           ┆           ┆           ┆   ┆ Basics    ┆           ┆           ┆ narrow   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ shoulde… │
│ 108775051 ┆ 108775    ┆ Strap top ┆ 253       ┆ … ┆ Womens    ┆ 1002      ┆ Jersey    ┆ Jersey   │
│           ┆           ┆ (1)       ┆           ┆   ┆ Everyday  ┆           ┆ Basic     ┆ top with │
│           ┆           ┆           ┆           ┆   ┆ Basics    ┆           ┆           ┆ narrow   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ shoulde… │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

## Articles feature engineering

In [8]:
articles_df = compute_features_articles(articles_df)
articles_df.shape

(105542, 27)

In [9]:
articles_df.head(3)

shape: (3, 27)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ article_i ┆ product_c ┆ prod_name ┆ product_t ┆ … ┆ garment_g ┆ prod_name ┆ article_d ┆ image_ur │
│ d         ┆ ode       ┆ ---       ┆ ype_no    ┆   ┆ roup_name ┆ _length   ┆ escriptio ┆ l        │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ n         ┆ ---      │
│ str       ┆ i64       ┆           ┆ i64       ┆   ┆ str       ┆ u32       ┆ ---       ┆ str      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ str       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 108775015 ┆ 108775    ┆ Strap top ┆ 253       ┆ … ┆ Jersey    ┆ 9         ┆ Strap top ┆ gs://gon │
│           ┆           ┆           ┆           ┆   ┆ Basic     ┆           ┆ - Vest    ┆ zo-recsy │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ top in    ┆ s-data/h │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ Garmen…   ┆ -and-m…  │
│ 108775044 ┆ 108775    ┆ Strap top ┆ 253       ┆ … ┆ Jersey    ┆ 9         ┆ Strap top ┆ gs://gon │
│           ┆           ┆           ┆           ┆   ┆ Basic     ┆           ┆ - Vest    ┆ zo-recsy │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ top in    ┆ s-data/h │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ Garmen…   ┆ -and-m…  │
│ 108775051 ┆ 108775    ┆ Strap top ┆ 253       ┆ … ┆ Jersey    ┆ 13        ┆ Strap top ┆ gs://gon │
│           ┆           ┆ (1)       ┆           ┆   ┆ Basic     ┆           ┆ (1) -     ┆ zo-recsy │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ Vest top  ┆ s-data/h │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ in Ga…    ┆ -and-m…  │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

## Create embeddings from the articles description

In [10]:
for i, desc in enumerate(articles_df["article_description"].head(n=3)):
    logger.info(f"Item {i + 1}:\n{desc}")

2025-02-05 23:04:59.591 | INFO     | __main__:<module>:2 - Item 1:
Strap top - Vest top in Garment Upper body
 Apperance: Solid
 Color: Dark Black 9
 Category: Ladieswear Womens Everyday Basics Jersey Basic
 Details: Jersey top with narrow shoulder straps.
2025-02-05 23:04:59.591 | INFO     | __main__:<module>:2 - Item 2:
Strap top - Vest top in Garment Upper body
 Apperance: Solid
 Color: Light White 10
 Category: Ladieswear Womens Everyday Basics Jersey Basic
 Details: Jersey top with narrow shoulder straps.
2025-02-05 23:04:59.592 | INFO     | __main__:<module>:2 - Item 3:
Strap top (1) - Vest top in Garment Upper body
 Apperance: Stripe
 Color: Dusty Light White 11
 Category: Ladieswear Womens Everyday Basics Jersey Basic
 Details: Jersey top with narrow shoulder straps.

In [11]:
device = (
    "cuda"
    if torch.cuda.is_available()
    else "mps"
    if torch.backends.mps.is_available()
    else "cpu"
)

logger.info(
    f"Loading ${settings.FEATURES_EMBEDDING_MODEL_ID} embedding model to {device=}"
)

# Load embedding model from SentenceTransformers model registry
model = SentenceTransformer(settings.FEATURES_EMBEDDING_MODEL_ID, device=device)

2025-02-05 23:04:59.627 | INFO     | __main__:<module>:9 - Loading $all-MiniLM-L6-v2 embedding model to device='mps'

In [12]:
articles_df = generate_embeddings_for_dataframe(
    articles_df, "article_description", model, batch_size=128
)

Generating embeddings...: 100%|██████████| 105542/105542 [05:33<00:00, 316.48it/s]

For each article description, we have a numerical vector which we can feed to a model, opposite to a string containing the description of an object.

In [13]:
articles_df[["article_description", "embeddings"]].head(3)

shape: (3, 2)
┌─────────────────────────────────┬─────────────────────────────────┐
│ article_description             ┆ embeddings                      │
│ ---                             ┆ ---                             │
│ str                             ┆ list[f64]                       │
╞═════════════════════════════════╪═════════════════════════════════╡
│ Strap top - Vest top in Garmen… ┆ [-0.023064, 0.069894, … 0.0123… │
│ Strap top - Vest top in Garmen… ┆ [-0.011304, 0.075073, … 0.0164… │
│ Strap top (1) - Vest top in Ga… ┆ [-0.033244, 0.081816, … 0.0201… │
└─────────────────────────────────┴─────────────────────────────────┘

In [14]:
articles_df["image_url"][0]

'gs://gonzo-recsys-data/h-and-m/images/010/0108775015.jpg'

In [15]:
from IPython.display import HTML, display

image_urls = articles_df["image_url"].tail(12).to_list()
grid_html = '<div style="display: grid; grid-template-columns: repeat(6, 1fr); gap: 10pxl max-width: 900px;">'

for url in image_urls:
    grid_html += f'<img src="{url}" style="width: 100%; height: auto;">'

grid_html += "</div>"

display(HTML(grid_html))

# Customers Data

In [16]:
customers_df = h_and_m_raw_data.extract_customers_df()
customers_df.shape

(1371980, 7)

In [17]:
customers_df.head(3)

shape: (3, 7)
┌───────────────────┬──────┬────────┬──────────────────┬──────────────────┬─────┬──────────────────┐
│ customer_id       ┆ FN   ┆ Active ┆ club_member_stat ┆ fashion_news_fre ┆ age ┆ postal_code      │
│ ---               ┆ ---  ┆ ---    ┆ us               ┆ quency           ┆ --- ┆ ---              │
│ str               ┆ f64  ┆ f64    ┆ ---              ┆ ---              ┆ i64 ┆ str              │
│                   ┆      ┆        ┆ str              ┆ str              ┆     ┆                  │
╞═══════════════════╪══════╪════════╪══════════════════╪══════════════════╪═════╪══════════════════╡
│ 00000dbacae5abe5e ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 49  ┆ 52043ee2162cf5aa │
│ 23885899a1fa4…    ┆      ┆        ┆                  ┆                  ┆     ┆ 7ee79974281641…  │
│ 0000423b00ade9141 ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 25  ┆ 2973abc54daa8a5f │
│ 8cceaf3b26c6a…    ┆      ┆        ┆                  ┆                  ┆     ┆ 8ccfe9362140c6…  │
│ 000058a12d5b43e67 ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 24  ┆ 64f17e6a330a8579 │
│ d225668fa1f8d…    ┆      ┆        ┆                  ┆                  ┆     ┆ 8e4998f62d0930…  │
└───────────────────┴──────┴────────┴──────────────────┴──────────────────┴─────┴──────────────────┘

In [18]:
customers_df.null_count()

shape: (1, 7)
┌─────────────┬────────┬────────┬────────────────────┬───────────────────────┬───────┬─────────────┐
│ customer_id ┆ FN     ┆ Active ┆ club_member_status ┆ fashion_news_frequenc ┆ age   ┆ postal_code │
│ ---         ┆ ---    ┆ ---    ┆ ---                ┆ y                     ┆ ---   ┆ ---         │
│ u32         ┆ u32    ┆ u32    ┆ u32                ┆ ---                   ┆ u32   ┆ u32         │
│             ┆        ┆        ┆                    ┆ u32                   ┆       ┆             │
╞═════════════╪════════╪════════╪════════════════════╪═══════════════════════╪═══════╪═════════════╡
│ 0           ┆ 895050 ┆ 907576 ┆ 6062               ┆ 16009                 ┆ 15861 ┆ 0           │
└─────────────┴────────┴────────┴────────────────────┴───────────────────────┴───────┴─────────────┘

## Customers feature engineering

In [19]:
customers_df.head(3)

shape: (3, 7)
┌───────────────────┬──────┬────────┬──────────────────┬──────────────────┬─────┬──────────────────┐
│ customer_id       ┆ FN   ┆ Active ┆ club_member_stat ┆ fashion_news_fre ┆ age ┆ postal_code      │
│ ---               ┆ ---  ┆ ---    ┆ us               ┆ quency           ┆ --- ┆ ---              │
│ str               ┆ f64  ┆ f64    ┆ ---              ┆ ---              ┆ i64 ┆ str              │
│                   ┆      ┆        ┆ str              ┆ str              ┆     ┆                  │
╞═══════════════════╪══════╪════════╪══════════════════╪══════════════════╪═════╪══════════════════╡
│ 00000dbacae5abe5e ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 49  ┆ 52043ee2162cf5aa │
│ 23885899a1fa4…    ┆      ┆        ┆                  ┆                  ┆     ┆ 7ee79974281641…  │
│ 0000423b00ade9141 ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 25  ┆ 2973abc54daa8a5f │
│ 8cceaf3b26c6a…    ┆      ┆        ┆                  ┆                  ┆     ┆ 8ccfe9362140c6…  │
│ 000058a12d5b43e67 ┆ null ┆ null   ┆ ACTIVE           ┆ NONE             ┆ 24  ┆ 64f17e6a330a8579 │
│ d225668fa1f8d…    ┆      ┆        ┆                  ┆                  ┆     ┆ 8e4998f62d0930…  │
└───────────────────┴──────┴────────┴──────────────────┴──────────────────┴─────┴──────────────────┘

In [20]:
customers_df = compute_features_customers(customers_df, drop_null_age=True)
customers_df.shape

(1356119, 5)

In [21]:
customers_df.head(3)

shape: (3, 5)
┌─────────────────────────────┬────────────────────┬──────┬────────────────────────────┬───────────┐
│ customer_id                 ┆ club_member_status ┆ age  ┆ postal_code                ┆ age_group │
│ ---                         ┆ ---                ┆ ---  ┆ ---                        ┆ ---       │
│ str                         ┆ str                ┆ f64  ┆ str                        ┆ str       │
╞═════════════════════════════╪════════════════════╪══════╪════════════════════════════╪═══════════╡
│ 00000dbacae5abe5e23885899a1 ┆ ACTIVE             ┆ 49.0 ┆ 52043ee2162cf5aa7ee7997428 ┆ 46-55     │
│ fa4…                        ┆                    ┆      ┆ 1641…                      ┆           │
│ 0000423b00ade91418cceaf3b26 ┆ ACTIVE             ┆ 25.0 ┆ 2973abc54daa8a5f8ccfe93621 ┆ 19-25     │
│ c6a…                        ┆                    ┆      ┆ 40c6…                      ┆           │
│ 000058a12d5b43e67d225668fa1 ┆ ACTIVE             ┆ 24.0 ┆ 64f17e6a330a85798e4998f62d ┆ 19-25     │
│ f8d…                        ┆                    ┆      ┆ 0930…                      ┆           │
└─────────────────────────────┴────────────────────┴──────┴────────────────────────────┴───────────┘

# Transactions Data

In [22]:
transactions_df = h_and_m_raw_data.extract_transactions_df()
transactions_df.shape

(31788324, 5)

In [23]:
transactions_df.head(3)

shape: (3, 5)
┌────────────┬─────────────────────────────────┬────────────┬──────────┬──────────────────┐
│ t_dat      ┆ customer_id                     ┆ article_id ┆ price    ┆ sales_channel_id │
│ ---        ┆ ---                             ┆ ---        ┆ ---      ┆ ---              │
│ date       ┆ str                             ┆ i64        ┆ f64      ┆ i64              │
╞════════════╪═════════════════════════════════╪════════════╪══════════╪══════════════════╡
│ 2018-09-20 ┆ 000058a12d5b43e67d225668fa1f8d… ┆ 663713001  ┆ 0.050831 ┆ 2                │
│ 2018-09-20 ┆ 000058a12d5b43e67d225668fa1f8d… ┆ 541518023  ┆ 0.030492 ┆ 2                │
│ 2018-09-20 ┆ 00007d2de826758b65a93dd24ce629… ┆ 505221004  ┆ 0.015237 ┆ 2                │
└────────────┴─────────────────────────────────┴────────────┴──────────┴──────────────────┘

## Transactions feature engineering

In [24]:
transactions_df = compute_features_transactions(transactions_df)
transactions_df.shape

(31788324, 9)

The time of the year a purchase was made should be a strong predictor, as seasonality plays a big factor in fashion purchases. Here, you will use the month of the purchase as a feature. Since this is a cyclical feature (January is as close to December as it is to February), you'll map each month to the unit circle using sine and cosine.

Thus, the features of the transactions DataFrame look as follows:

In [25]:
transactions_df.head(3)

shape: (3, 9)
┌───────┬───────────────────────────┬────────────┬──────────┬───┬──────┬───────┬─────┬─────────────┐
│ t_dat ┆ customer_id               ┆ article_id ┆ price    ┆ … ┆ year ┆ month ┆ day ┆ day_of_week │
│ ---   ┆ ---                       ┆ ---        ┆ ---      ┆   ┆ ---  ┆ ---   ┆ --- ┆ ---         │
│ i64   ┆ str                       ┆ str        ┆ f64      ┆   ┆ i32  ┆ i8    ┆ i8  ┆ i8          │
╞═══════╪═══════════════════════════╪════════════╪══════════╪═══╪══════╪═══════╪═════╪═════════════╡
│ 0     ┆ 000058a12d5b43e67d225668f ┆ 663713001  ┆ 0.050831 ┆ … ┆ 2018 ┆ 9     ┆ 20  ┆ 4           │
│       ┆ a1f8d…                    ┆            ┆          ┆   ┆      ┆       ┆     ┆             │
│ 0     ┆ 000058a12d5b43e67d225668f ┆ 541518023  ┆ 0.030492 ┆ … ┆ 2018 ┆ 9     ┆ 20  ┆ 4           │
│       ┆ a1f8d…                    ┆            ┆          ┆   ┆      ┆       ┆     ┆             │
│ 0     ┆ 00007d2de826758b65a93dd24 ┆ 505221004  ┆ 0.015237 ┆ … ┆ 2018 ┆ 9     ┆ 20  ┆ 4           │
│       ┆ ce629…                    ┆            ┆          ┆   ┆      ┆       ┆     ┆             │
└───────┴───────────────────────────┴────────────┴──────────┴───┴──────┴───────┴─────┴─────────────┘

We don't want to work with ~30 million transactions in these series, as everything will take too much time to run. Thus, we create a subset of the original dataset by randomly sampling from the customers' datasets and taking only their transactions.

In [26]:
sampler = DatasetSampler(size=settings.CUSTOMER_DATA_SIZE)
dataset_subset = sampler.sample(
    customers_df=customers_df, transactions_df=transactions_df
)
customers_df = dataset_subset["customers"]
transactions_df = dataset_subset["transactions"]

2025-02-05 23:18:07.715 | INFO     | recsys.features.customers:sample:29 - Sampling 1000 customers.
2025-02-05 23:18:07.753 | INFO     | recsys.features.customers:sample:32 - Number of transactions for all the customers: 31788324
2025-02-05 23:18:08.384 | INFO     | recsys.features.customers:sample:38 - Number of transactions for the 1000 sampled customers: 23799

In [27]:
transactions_df.shape

(23799, 9)

Some of the remaining customers:

In [28]:
for customer_id in transactions_df["customer_id"].unique().head(10):
    logger.info(f"Logging customer ID: {customer_id}")

2025-02-05 23:18:08.489 | INFO     | __main__:<module>:2 - Logging customer ID: c105fdd5ec36bef99e989ac0a9e725f5fe68a7765d3a6fc426e947f0b73dbb9d
2025-02-05 23:18:08.489 | INFO     | __main__:<module>:2 - Logging customer ID: 5790bdcb9c0d4ea350622bb2cff1da5d37786c2ed2388000e58738500eb37dfc
2025-02-05 23:18:08.489 | INFO     | __main__:<module>:2 - Logging customer ID: 15b2237d5ba7770d7cbcdeac6628ad4d2030ca35e46667bb63914dcbc3f9aa27
2025-02-05 23:18:08.489 | INFO     | __main__:<module>:2 - Logging customer ID: b1fdc1db25e8539c8a8b1a390dcd03c86e53bb4407ef6e237cbb7b8dcb853f1f
2025-02-05 23:18:08.490 | INFO     | __main__:<module>:2 - Logging customer ID: 889d2c1d49250464b1c4a838864f53950b2bff8b2b8feeca80e7e7b0b38cd55f
2025-02-05 23:18:08.490 | INFO     | __main__:<module>:2 - Logging customer ID: 871f9e45eed0daca0e3e3a3d90f7153763b2e41737ad0568bb0633fd71d1ec92
2025-02-05 23:18:08.490 | INFO     | __main__:<module>:2 - Logging customer ID: 70ea0561e99d2e66da63cba206615b0341d160dc8e99600b74a125cf53d54eb6
2025-02-05 23:18:08.490 | INFO     | __main__:<module>:2 - Logging customer ID: e7c3e1035f45bfcdbb270b8df00377c157859576aa71539230c38b9867936717
2025-02-05 23:18:08.490 | INFO     | __main__:<module>:2 - Logging customer ID: 61446b95d75c3b8d151d96e94b10fe37a10191639921c64faebbd233636ccae3
2025-02-05 23:18:08.490 | INFO     | __main__:<module>:2 - Logging customer ID: f6d2f4b250c2a37dabfe5cb96a5c9f3ed2bc5d39bef771174c1c559f2e87b845

# 🤳🏻 Interaction data

To train our models, we need more than just the transactions DataFrame. We need positive samples that signal whether a customer clicked or bought an item, but we also need negative samples that signal no interactions between a customer and an item.

In [29]:
interaction_df = generate_interaction_data(transactions_df)
interaction_df.shape

Processing customer chunks:   0%|          | 0/1 [00:03<?, ?it/s]

(134898, 5)

In [33]:
interaction_df.head()

shape: (5, 5)
┌────────────┬─────────────────────────────────┬────────────┬───────────────────┬─────────────────┐
│ t_dat      ┆ customer_id                     ┆ article_id ┆ interaction_score ┆ prev_article_id │
│ ---        ┆ ---                             ┆ ---        ┆ ---               ┆ ---             │
│ i64        ┆ str                             ┆ str        ┆ i64               ┆ str             │
╞════════════╪═════════════════════════════════╪════════════╪═══════════════════╪═════════════════╡
│ -339120000 ┆ 00b203a32faa3d007dba198ef27c15… ┆ 689096003  ┆ 0                 ┆ START           │
│ -337320000 ┆ 00b203a32faa3d007dba198ef27c15… ┆ 623866002  ┆ 0                 ┆ 689096003       │
│ -335160000 ┆ 00b203a32faa3d007dba198ef27c15… ┆ 623866002  ┆ 0                 ┆ 623866002       │
│ -309600000 ┆ 00b203a32faa3d007dba198ef27c15… ┆ 568931002  ┆ 0                 ┆ 623866002       │
│ -309240000 ┆ 00b203a32faa3d007dba198ef27c15… ┆ 568931002  ┆ 0                 ┆ 568931002       │
└────────────┴─────────────────────────────────┴────────────┴───────────────────┴─────────────────┘

Score distributions:

Here is what each score means:
- `0` : No interaction between a customer and an item
- `1` : A customer clicked an item
- `2` : A customer bought an item

In [32]:
interaction_df.group_by("interaction_score").agg(
    pl.count("interaction_score").alias("total_interactions")
)

shape: (3, 2)
┌───────────────────┬────────────────────┐
│ interaction_score ┆ total_interactions │
│ ---               ┆ ---                │
│ i64               ┆ u32                │
╞═══════════════════╪════════════════════╡
│ 0                 ┆ 73054              │
│ 1                 ┆ 38045              │
│ 2                 ┆ 23799              │
└───────────────────┴────────────────────┘

# Feature Groups

# Compute Ranking Dataset